<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<title>About Rooted</title>
</head>

<body>
	<h1>About Us</h1>
    <table><tr><td>
        <img src="images/theOwners.jpg" id="theOwners" alt="theOwners" style="width:auto;height:400px;float:right; padding-left:10px;">
        <p>Welcome to Rooted, a vegan and allergy-conscious cafe and bakery based in Northeast DC. Rooted grew out of our passion for cooking and the need for allergen-free food options. Enjoy lunch, dinner, and dessert in our cozy, colorful seating area with plenty of outlets and free wifi. 
            <br><br>
            We strive to be welcoming of all identities, environmentally-conscious, and offer an ever-changing multicultural menu. At the end of the day, our volunteers give those with food insecurity unsold meals and ingredients. 
            <br><br>
            Interested in volunteering or donating to our food drive? Contact us for an application. Have recipe suggestions? Contact us. Cafe music requests? See our waitstaff. 
            <br><br>
            Bon-apple-tidy,<br><br>
            Jason and Catherine 
        </p>
    </td></tr>
    </table>

    <hr>
    <table>
        <tr>
            <td><img src="images/operationsManager.jpg" id="opMg" alt="operationsManager" style="width:auto;height:200px;"><br>
                <strong>Operations Manager</strong><br>Tanya James</td>
            <td><img src="images/volunteerCoordinator.jpg" id="volCd" alt="volunteerCoordinator" style="width:auto;height:200px;"><br>
                <strong>Volunteer Coordinator</strong><br>Naveen Bhat</td>
        </tr>
        <tr>
            <td>DC local. Bachelor of Business Administration from Howard University. "My mom is the best cook ever, which got me into food as a young adult. So I've always envisioned myself managing a restaurant, especially one as upstanding as Rooted."</td>
            <td>Detroit, MI. Bachelor of Business Administration and Women and Gender Studies from Michigan State University. Moved to DC in 2021 with their partner, a social worker. "We've seen food insecurity rise since the pandemic, especially with working-class Black and Brown families. One of our goals at Rooted is to help locals with that while advocating for governmental action that will assist these families in more sustainable ways."</td>
        </tr>
    </table>
    <hr>
    <div id="footer">
        <a href="../">Return to our Home Page</a>
    </div>
</body>

</html>