<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<title>About Rooted</title>
</head>

<body>
	<h1>About Us</h1>
    <table><tr><td>
        <img src="images/theOwners.jpg" id="theOwners" alt="theOwners" style="width:auto;height:400px;float:right; padding-left:10px;">
        <p>Welcome to Rooted, a vegan and allergy-conscious cafe and bakery based in Northeast DC. Rooted grew out of our passion for cooking and the need for allergen-free food options. Enjoy lunch, dinner, and dessert in our cozy, colorful seating area with plenty of outlets and free wifi. 
            <br><br>
            We strive to be welcoming of all identities, environmentally-conscious, and offer an ever-changing multicultural menu. At the end of the day, our volunteers give those with food insecurity unsold meals and ingredients. 
            <br><br>
            Interested in volunteering or donating to our food drive? Contact us for an application. Have recipe suggestions? Contact us. Cafe music requests? See our waitstaff. 
            <br><br>
            Bon-apple-tidy,<br><br>
            Jason and Catherine 
        </p>
    </td></tr>
    </table>

    <hr>
    <table>
        <tr>
            <td><img src="images/operationsManager.jpg" id="opMg" alt="operationsManager" style="width:auto;height:200px;"><br>
                <strong>Operations Manager</strong><br>Tanya James</td>
            <td><img src="images/volunteerCoordinator.jpg" id="volCd" alt="volunteerCoordinator" style="width:auto;height:200px;"><br>
                <strong>Volunteer Coordinator</strong><br>Naveen Bhat</td>
        </tr>
    </table>
    <hr>
    <div id="footer">
        <a href="../">Return to our Home Page</a>
    </div>
</body>

</html>