<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<title>Rooted Home</title>
</head>


<body>
	<h1>Welcome to Rooted Vegan Cafe!</h1>
	<img src="images/logo.png" id="rootedLogo" alt="rootedLogo" style="width:400px;height:400px;"><br>
	<a href="/menu">Menu</a><br>
	<a href="/location">Hours and Location</a><br>
	<a href="/about">About Us</a><br>
	<a href="/contact">Contact Us</a><br>
	<a href="/mail">Join our Mailing List</a><br>
	<a href="/review">Review Preferences</a><br>
	
	<hr>
	Enjoy this random quote! <br><br>
	<div id="quote">
		<%- quote %> <br>
		&mdash; <%- author %>
	</div>
</body>

</html>