<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<title>Rooted Hours & Location</title>
</head>

<body>
	<h2>Our Hours</h2>
    <p>
        10 AM - 8 PM<br>
        7 Days / Week<br>
        365 Days / Year<br>
    </p>
    <h2>Our Location</h2>
    <p>2308 Rhode Island Ave NE <br>Washington, DC 20018</p>

    <hr>
    <div id="footer">
        <a href="../">Return to our Home Page</a>
    </div>
</body>

</html>