<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<title>Mailing List Confirmation</title>
</head>

<body>
	<h1>Thank you for joining the mailing list, <%- firstName %>!</h1>
	<a href="../">Click here to return to our Home Page</a>
</body>

</html>
