<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<title>Rooted Menu</title>
</head>

<body>
    <img src="images/menu.png" id="menu" alt="menu" style="width:auto;height:1200px;">
    
    <hr>
    <h1>Our Menu as Text</h1>
    <hr>
    <h2>Starters & Salads</h2>
	<ul>
        <li>Watermelon Mint Salad</li>
        <li>Collards</li>
        <li>Air-Fried Yams</li>
        <li>Steamed Edamame</li>
        <li>Hard Boiled "Eggs"</li>
        <li>Caesar</li>
        <li>Classic Cobb</li>
        <li>Spinach Salad</li>
    </ul>
    <hr>
    <h2>Soups & Sandwiches</h2>
    <ul>
        <li>Dal</li>
        <li>Mulligatawny Soup</li>
        <li>Tomato Soup</li>
        <li>Sweet Potato & Lima Bean Soup</li>
        <li>Chick'n</li>
        <li>BLT</li>
        <li>Curried Tofu on Rye</li>
        <li>Beanwhich</li>
    </ul>
    <hr>
    <h2>Main Courses</h2>
    <ul>
        <li>"Lamb Burger"</li>
        <li>Mediterranean Tempeh Quinoa Bowl</li>
        <li>Yellow Curry</li>
        <li>Burrito</li>
        <li>Stir Fry</li>
        <li>Chick'n & Waffles</li>
    </ul>
    <hr>
    <h2>Drinks</h2>
    <ul>
        <li>Coffee</li>
        <li>Hot Tea</li>
        <li>Espresso Drinks</li>
        <li>Root Beer</li>
        <li>Blueberry Soda</li>
        <li>Fresh Pressed Juices</li> 
        <li>House Pomegranate Lemonade</li>
        <li>Local Kombucha</li>
    </ul>
    <hr>
    <h2>Desserts</h2>
    <ul>
        <li>Chocolate Mousse</li>
        <li>House Sorbet</li>
        <li>"Cheesecake"</li>
        <li>House Pies</li>
        <li>Cupcakes</li>
        <li>Brownies</li>
        <li>Beignets</li>
    </ul>
    <hr>
    <div id="footer">
        <a href="../">Return to our Home Page</a>
    </div>
</body>

</html>