<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<title>Unsubscribed</title>
</head>


<body>
    <h1>We're sorry to see you go, <%- firstName %>!</h1><br>

    <a href="/mail">Resubscribe</a>
    <hr>
    <div id="footer">
        <a href="../">Return to our Home Page</a>
    </div>
   
</body>

</html>