<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" type="text/css">
	<title>Rooted Mailing Preferences</title>
</head>

<body>
	<h1>Review Mailing Preferences</h1>
    
    <form action="/review" method="post">
        <div> 
            <strong>Email Address: </strong><input type="email" id="email" name="email"> <br>
        </div>
        <input type="submit" value="Review">
    </form>

    <hr>
    <div id="footer">
        <a href="../">Return to our Home Page</a>
    </div>
</body>

</html>